@page
@model Web.Pages.Products.EditModel

<form method="post" action="/Products/Edit">
    @Html.AntiForgeryToken()
    <input type="hidden" name="code" value="@Model.Product.Code" />

    <div class="modal-header">
        <h5 class="modal-title">Uredi izdelek</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">
        @if (Model.ErrorMessage is not null)
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }

        @if (Model.WarningMessage is not null)
        {
            <div class="alert alert-warning">@Model.WarningMessage</div>
        }

        <div>
            <label>Šifra</label>
            <input class="form-control" name="Product.Code" id="Product_Code" value="@Model.Product.Code" readonly />
        </div>
        <div class="mt-2">
            <label>Model</label>
            <input class="form-control" name="Product.Model" id="Model" value="@Model.Product.Model" />
        </div>
        <div class="mt-2">
            <label>Širina</label>
            <input type="number" class="form-control" name="Product.Width" id="Width" value="@Model.Product.Width" />
        </div>
        <div class="mt-2">
            <label>Višina</label>
            <input type="number" class="form-control" name="Product.Height" id="Height" value="@Model.Product.Height" />
        </div>
        <div class="mt-2">
            <label>Globina</label>
            <input type="number" class="form-control" name="Product.Depth" id="Depth" value="@Model.Product.Depth" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary hisense-button">Shrani</button>
        <button type="button" class="btn btn-secondary hisense-button" data-bs-dismiss="modal">Prekliči</button>
    </div>
</form>