@page
@model Web.Pages.Products.IndexModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<p>
    <a class="btn btn-primary btn-sm hisense-button" href="/Products/Create">Dodaj izdelek</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Model</th>
            <th>Width</th>
            <th>Height</th>
            <th>Depth</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.Code</td>
                <td>@p.Model</td>
                <td>@p.Width mm</td>
                <td>@p.Height mm</td>
                <td>@p.Depth mm</td>
                <td><a class="btn btn-primary btn-sm hisense-button" href="/Products/Edit?code=@p.Code">Uredi</a></td>
                <td><a class="btn btn-primary btn-sm btn-danger" href="/Products/Delete?code=@p.Code">Izbriši</a></td>
            </tr>
        }
    </tbody>
</table>
